.resume-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 50px;
  min-height: 100vh;
  align-items: center;
  margin-left: 0;
  position: relative;
  font-family: 'Inter', sans-serif;

  &.light-card {
    background-color: #f5f5f7;
    color: #000;
  }

  &.dark-card {
    background-color: #000;
    color: #fff;
  }

  @media screen and (max-width: 690px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 540px) {
    min-height: 50vh;
  }

  h3 {
    margin-left: -10px;
  }

  h1 {
    margin-left: 0;
    text-align: center;
    margin-bottom: 79px;
    font-size: 92px;
    font-weight: 700;
    background: linear-gradient(315deg, rgba(38,164,239,1), rgba(39,164,239,1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 810px) {
      font-size: 82px;
    }

    @media screen and (max-width: 690px) {
      font-size: 72px;
      margin-bottom: 50px;
    }

    @media screen and (max-width: 540px) {
      font-size: 54px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 470px) {
      font-size: 48px;
      margin-bottom: 0;
    }

    @media screen and (max-width: 368px) {
      font-size: 34px;
      margin-bottom: -40px;
    }
  }

  .resume-box {
    border-radius: 28px;
    background: linear-gradient(300deg, rgba(30,208,252,1), rgba(2,98,224,1));
    width: 731px;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @media screen and (max-width: 770px) {
      transform: scale(0.9);
    }

    @media screen and (max-width: 470px) {
      width: 100%;
      flex-direction: column;
      height: auto;
      margin-top: 50px;
    }

    .resume-box-left {
      position: relative;

      img {
        max-height: 416px; // Adjusted to be smaller
        border-radius: 20px;
        object-fit: cover;

        @media screen and (max-width: 470px) {
          max-height: 180px; // Smaller for smaller screens
        }
      }
    }

    .resume-box-right {
      max-width: 4000px;
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media screen and (max-width: 470px) {
        margin: 0 auto;
        align-items: center;
        text-align: center;
      }

      p {
        font-size: 18px;
        color: white;
        margin-bottom: 15px; // Reduced margin for more spacing flexibility
        text-align: left;

        @media screen and (max-width: 470px) {
          font-size: 16px;
          text-align: center;
        }

        span {
          display: block; // Each sentence on a new line
        }
      }

      button {
        border-radius: 24px;
        width: 198px;
        border: none;
        padding: 15px 22px;
        box-sizing: border-box;
        height: 52px !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 22px;
        gap: 8px;
        font-family: "Inter", sans-serif;
        color: white;
        font-weight: 500;
        font-size: 17.35px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        margin-top: 10px;

        .svg {
          height: 24px;
          width: 24px;
        }
      }

      .download {
        background-color: #0064ff;
        margin-bottom: 8px;

        &:hover {
          .download-svg {
            margin-top: 6px;
          }
        }

        .download-svg {
          fill: white;
          transition: 0.225s ease-in-out all;
        }
      }

      .contact {
        background-color: white;
        color: #0064ff;
        transition: 0.3s all;

        &:hover {
          background-color: #0064ff;
          color: white;

          .contact-svg {
            fill: white;
          }
        }

        .contact-svg {
          fill: #0064ff;
          transition: 0.3s all;
        }
      }
    }
  }
}
